<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/Home/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/Home/style.css">
    <script type="text/javascript" src="/js/lib/jquery.min.js"></script>
  </head>
  <body>
    <% include top.ejs %>
