<% include ../layout/header.ejs %>
<div class="banner">
  <ul>
    <li style="background-image:url('/imgs/banner_01.jpg')"></li>
  </ul>
</div>
<div class="smallNav">
  <ul>
    <li class="">
      <a href="#">成功案例</a>
    </li>
    <li class="">
      <a href="#">微信营销</a>
    </li>
    <li class="">
      <a href="#">网站建设</a>
    </li>
    <li class="">
      <a href="#">我们的实力</a>
    </li>
  </ul>
</div>

<div class="introduce">
  <div class="introBox">
    <div class="introTitle">
      <h2>互联网整合机构</h2>
      <p>专注高品质定制与设计的江西网站建设公司</p>
      <p>我们是体验经济世界的构筑者，我们创造有价值的精彩体验。</p>
    </div>
    <div class="introList">
      <div class="flex flex_1">
        <ul>
          <li style="background-image:url('/imgs/index_01.jpg'); margin-bottom:3px;">
            <h2>APP开发</h2>
            <div class="describe">
              <span>用户体验</span>
              <span>APP核心技术</span>
            </div>
            <div class="info">
              <span>社交APP开发</span>
              <span>餐饮APP开发</span>
              <span>旅游APP开发</span>
              <span>医疗APP开发</span>
              <span>电商APP开发</span>
              <span>教育APP开发</span>
              <span>教育APP开发</span>
            </div>
          </li>
          <li style="background-image:url('/imgs/index_04.jpg')">
            <h2>网站建设</h2>
            <div class="describe">
              <span>营销型网站建设</span>
              <span>校园网站建设</span>
              <span>门户网站建设</span>
            </div>
            <div class="info">
              <span>企业网站</span>
              <span>餐饮APP开发</span>
              <span>旅游APP开发</span>
              <span>医疗APP开发</span>
              <span>电商APP开发</span>
              <span>教育APP开发</span>
              <span>教育APP开发</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="flex flex_2">

      </div>
      <div class="flex flex_3">
        <ul>
          <li style="background-image:url('/imgs/index_03.jpg'); margin-bottom:3px;"></li>
          <li style="background-image:url('/imgs/index_05.jpg')"></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<% include ../layout/footer.ejs %>
