<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/Home/hualang.css">
  </head>
  <body>
    <div class="work">
      <div class="screen works_screen">
        <ul>
          <li>
            人物国画<i></i>
          </li>
          <li>
            山水国画<i></i>
          </li>
          <li>
            花鸟国画<i></i>
          </li>
          <li>
            刺绣<i></i>
          </li>
          <li>
            雕塑<i></i>
          </li>
          <li>
            书法蟹刻<i></i>
          </li>
        </ul>
        <div class="special">
          特价作品
        </div>
      </div>
      <div class="two_screen">
        <img src="/images/icon_02.png" alt="">
        <div class="maodian" style="margin-left: 30px;">
          <span>作品</span>
          <i></i>
        </div>
        <div class="maodian">
          <span>人物画</span>
          <i></i>
        </div>
        <div class="maodian">
          <span>为人头像</span>
          [<strong style="color: #f36a6a; font-weight: normal;">123</strong>]
        </div>
        <div class="condition">
          <div class="condition_item active">
            推荐作品 <i ></i>
          </div>
          <div class="condition_item">
            最新上架 <i></i>
          </div>
          <div class="condition_item">
            浏览更多 <i></i>
          </div>
        </div>
      </div>
      <div class="shopList">
        <ul>
          <li>
            <img src="/images/img_01.png" alt="">
            <div class="text">
              <img src="/images/shopimg_01.png" alt="">
              <span>鲁迅画廊</span>
            </div>
          </li>
          <li>
            <img src="/images/img_01.png" alt="">
            <div class="text">
              <img src="/images/shopimg_01.png" alt="">
              <span>鲁迅画廊</span>
            </div>
          </li>
          <li>
            <img src="/images/img_01.png" alt="">
            <div class="text">
              <img src="/images/shopimg_01.png" alt="">
              <span>鲁迅画廊</span>
            </div>
          </li>
          <li>
            <img src="/images/img_01.png" alt="">
            <div class="text">
              <img src="/images/shopimg_01.png" alt="">
              <span>鲁迅画廊</span>
            </div>
          </li>
          <li>
            <img src="/images/img_01.png" alt="">
            <div class="text">
              <img src="/images/shopimg_01.png" alt="">
              <span>鲁迅画廊</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
