<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>画廊首页</title>
    <link rel="stylesheet" href="/css/Home/hualang.css">
  </head>
  <body>
    <div class="topwrap">
      <div class="top">
        <div class="tubiao">
          <img src="/images/tubiao.png" alt="">
        </div>
        <ul>
          <li>
            <a href="#">作品</a>
          </li>
          <li>
            <a class="active" href="#">画廊</a>
          </li>
          <li>
            <a href="#">美术用品</a>
          </li>
          <li>
            <a href="#">资讯</a>
          </li>
        </ul>
        <div class="sandian">
          <img src="/images/sangedian.png" alt="">
        </div>
        <div class="login">
          <a href="#">登录</a>
          <a href="#">注册</a>
        </div>
      </div>
    </div>
    <div class="headerWrap">
      <div class="header">
        <div class="login">
          <img src="/images/logo.png" alt="">
        </div>
        <div class="search">
          <input />
          <div class="icon">
            <img src="/images/search.png" alt="">
          </div>
          <div class="types">
            <span>画廊</span>
            <i></i>
          </div>
        </div>
        <div class="telphone">
          <img src="/images/telphone.png" alt="">
        </div>
        <div class="tuihuo">
          <img src="/images/tuihuo.png" alt="">
        </div>
        <div class="shopcart">
          <img src="/images/shopcart.png" alt="">
          <span>1</span>
        </div>
      </div>
    </div>
    <div class="screen">
      <ul>
        <li>
          <i></i>推荐画廊
        </li>
        <li>
          <i></i>销售最多
        </li>
        <li>
          <i></i>作品最多
        </li>
        <div class="daoxiang">
          <a href="#">
            <img src="/images/daoxiang.png" alt="">
          </a>
        </div>
      </ul>

    </div>
    <div class="works">
      <ul>
        <li>
          <div class="works_item1">
            <div class="works_item_shop">
              <div class="works_item_img">
                <img src="/images/shopimg_01.png" alt="">
                <div class="text">
                  <i></i>
                  <span>广西</span>
                  <span>南宁</span>
                </div>
              </div>
              <div class="works_item_text">
                <h2>广西南宁维多利亚共和画廊</h2>
                <div class="describe">
                  本画廊是正规的画廊本画廊是正规的画廊本画廊是正规的画廊本画
                  廊是正规的画廊本画廊是正规的画廊
                </div>
                <div class="icon">
                  <i class="icon_1"></i>
                  <i class="icon_2"></i>
                  <i class="icon_3"></i>
                  <div class="icon_text">
                    <p style="font-size:14px; color: #f36a6a;">221</p>
                    <p>作品数</p>
                  </div>
                </div>
                <div class="info">
                  李大光小天王李大光小天王李大光小天王李大光小天王李大光小天王李大光小天王李大光小天王
                </div>
              </div>
            </div>
          </div>
          <div class="works_item2">
            <ul>
              <li>
                <a href="#">
                  <img src="/images/img_01.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/images/img_01.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/images/img_01.png" alt="">
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
